In [1]:
import pandas as pd
from sqlalchemy import create_engine
import geopandas as gpd

import os

# Database connection details from zshrc environment variables
db_name = 'colorado_spills'
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')


# Create an engine to connect to the PostgreSQL database
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db_name}')

# Read in the spills_with_demographics as spills
spills = pd.read_sql_table('spills_with_demographics', engine)

In [4]:
spills.head

<bound method NDFrame.head of        Document # Report                                    Operator  \
0       400628833  I w/S         GREAT WESTERN OPERATING COMPANY LLC
1       400629910      I  COLORADO OIL & GAS CONSERVATION COMMISSION
2       400629998      S  COLORADO OIL & GAS CONSERVATION COMMISSION
3       400630821      I                    KERR MCGEE GATHERING LLC
4       400631216      I                            NOBLE ENERGY INC
...           ...    ...                                         ...
16885   403825450  I w/S                            NOBLE ENERGY INC
16886   403825485  I w/S                            NOBLE ENERGY INC
16887   403825575  I w/S                            NOBLE ENERGY INC
16888   403826200      I                            NOBLE ENERGY INC
16889   403826294      I                         CAERUS PICEANCE LLC

       Operator #  Tracking # Initial Report Date Date of Discovery  \
0           10110   400628833          06/18/2014        06/11/2014
1               5   400629910          06/19/2014        06/14/2014
2               5   400629910          06/19/2014        06/14/2014
3           47121   400630821          06/20/2014        06/19/2014
4          100322   400631216          06/23/2014        06/20/2014
...           ...         ...                 ...               ...
16885      100322   403825450          06/14/2024        06/13/2024
16886      100322   403825485          06/14/2024        06/13/2024
16887      100322   403825575          06/14/2024        06/13/2024
16888      100322   403826200          06/14/2024        06/14/2024
16889       10456   403826294          06/15/2024        06/15/2024

       Spill Type Qtr Qtr  Section  ... total_population white_population  \
0      Historical  SESE          2  ...           5491.0           4767.0
1      Historical  NWNE          1  ...           7335.0           6302.0
2      Historical  NWNE          1  ...           7335.0           6302.0
3          Recent  NWNW         15  ...            427.0            222.0
4          Recent  NENW         36  ...           3470.0           3105.0
...           ...     ...      ...  ...              ...              ...
16885  Historical  SWSE          7  ...           7335.0           6302.0
16886  Historical  SWSE          7  ...           7335.0           6302.0
16887  Historical  SWSE          7  ...           7335.0           6302.0
16888      Recent  SWSE          5  ...           4023.0           3581.0
16889      Recent  NESW         22  ...           7240.0           5646.0

      hispanic_population  median_household_income  poverty_population  \
0                   772.0                  88286.0               325.0
1                  2011.0                  71440.0               831.0
2                  2011.0                  71440.0               831.0
3                   183.0             -666666666.0                 0.0
4                   167.0                 122604.0               129.0
...                   ...                      ...                 ...
16885              2011.0                  71440.0               831.0
16886              2011.0                  71440.0               831.0
16887              2011.0                  71440.0               831.0
16888               612.0                  82865.0               268.0
16889              1659.0                  64573.0               693.0

      unemployed_population percent_white percent_hispanic  percent_poverty  \
0                      80.0     86.814788        14.059370         5.918776
1                     166.0     85.916837        27.416496        11.329243
2                     166.0     85.916837        27.416496        11.329243
3                       0.0     51.990632        42.857143         0.000000
4                      13.0     89.481268         4.812680         3.717579
...                     ...           ...              ...              ...
16885                 166.0     85.916837        27.416496        11.329243
16886                 166.0     85.916837        27.416496        11.329243
16887                 166.0     85.916837        27.416496        11.329243
16888                  62.0     89.013174        15.212528         6.661695
16889                 240.0     77.983425        22.914365         9.571823

      unemployment_rate
0              1.456930
1              2.263122
2              2.263122
3              0.000000
4              0.374640
...                 ...
16885          2.263122
16886          2.263122
16887          2.263122
16888          1.541138
16889          3.314917

[16890 rows x 118 columns]>

In [14]:
# Save the spills DataFrame as an Excel file
spills.to_excel("spills_with_demographics.xlsx")